@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

#education_fragment
{
    margin: 5rem 5rem 0 5rem;
    padding-top: 5rem;
}
#education_fragment svg
{
    display:block;
}

#education_fragment Grid
{
    margin-top: 2px;
}

.education_header
{
    text-align: center;
    margin-bottom: 5rem;
    font-family:'Lobster', cursive;
    font-size: 3rem;
}

#education_grid
{
    margin-left: 25rem;
}